body header {
    z-index: 32;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.7);
    background-color: #24292e;
}

body header,
.header-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
