#homepage {
    display: flex;
}

#personal {
    width: 320;
}

.post {
    margin-top: 100px;
    margin-bottom: 100px;

    width: 1200px;
    position: relative;
}

.post-cover {
    display: inline-block;
    width: 680px;
    height: 440px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.post:nth-child(odd) {
    text-align: left;
}
.post:nth-child(even) {
    text-align: right;
}
.post:nth-child(odd) .post-info {
    left: 660px;
}
.post:nth-child(even) .post-info {
    right: 660px;
}

.post-info {
    position: absolute;
    background: #fff;
    text-align: left;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    //height: 100%;
    width: 498px;
    border: 1px solid #eaeaea;

    h1 {
        font-size: 30px;
        line-height: 1.1;
        margin: 10px 100px 0 80px;
        a {
            color: #333;
        }
    }

    .post-time {
        color: #999;
        font-size: 12px;
        margin: 80px 0 0 80px;
    }

    .post-summary {
        color: #555;
        margin: 10px 100px 0 80px;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 1.8;
    }

    .post-labels {
        position: absolute;
        left: 80px;
        color: #999;
        font-size: 13px;

        span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            font-family: "icomoon", "Hiragino Sans GB", "Hiragino Sans GB W3",
                "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
        }

        span:before {
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
            font-size: 16px;
        }

        a {
            display: inline-block;
            cursor: default;
        }
    }
}
